<% if session[:redirect] %>
  <h2> Please fill up the form below to be registered as a validated organization:</h2>
<% else %>
  <% if current_user.is_organization %>
    <h2>Edit Organization Information</h2>
  <% else %>
  <h2>Edit <%= resource_name.to_s.humanize %> Information</h2>
  <% end %>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to "Home", home_index_path %> <span class="divider">/</span></li>  <li><%= link_to current_user.name, my_profile_path %> <span class="divider">/</span> </li> <li class="active">Edit Profile</li>
<% end %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <% unless current_user.provider %>
</br>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
</br>
  <% end %>
  <div>
    <legend>Account Information</legend>
      <%= f.input :name %>
      <%= f.input :description, :input_html => {:class => "span6"} if current_user.is_organization %>
      <%= f.input :street, :input_html => {:class => "span5"} %>
      <%= f.input :city , :input_html => {:class => "span3"}%>
      <%= f.input :state, :label => "Region", :collection => regions, :include_blank => false %>
      <%= f.input :website1, :label => "Website" %>
      <%= f.input :website2, :label => "Other Website" if current_user.is_organization %>
      <%= f.input :phone, :label => "Phone Number" %>
      <%= f.input :contact_number, :label => "Mobile Number" %>
      <p class="margin"> <%= f.file_field :photo %></p>
    </br>
  </div>
  

<div>
  <% if session[:redirect] %>
  <% else %>
  <legend>Change Password</legend>
  <div class="inputs">
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
</div>
  <% end %>

</br>
<div>
  <legend>Account Deletion</legend>
  <div class="inputs">
    <h3>Unhappy with our services?</h3>
  </br>
    <%= link_to "Delete Account", registration_path(resource_name), :class => 'btn btn-danger', :confirm => "Are you sure?", :method => :delete %>
</div>


</br>
</br>
<div class="form-actions">
    <%= f.button :submit, "Update Profile", :class => 'btn btn-info' %>
    
    <%= link_to "Back", :back, :class => 'btn' %>
  </div>
</div>
<% end %>