<div id="container">

<%= simple_form_for @event, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :state, :label => "Region/State" %>
  <%= f.input :start, :start_year => 2012, :input_html => { :class => "span1" }, :format => :long%>
  <%= f.input :end, :start_year => 2012, :input_html => { :class => "span1" } %>
  <p class="margin"> <%= f.file_field :photo %></p>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>

</div>
