<% content_for :breadcrumb do %>
  <li><%= link_to "Home"%> <span class="divider">/</span></li>  <li><%= link_to "Events", events_path %></li>
<% end %>

<%- model_class = Event.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<div id="events_container">
    <% @events.each do |event| %>
        <div class="box" href="#"> <!--link-to-event-page-->
          <div>
            <%= image_tag event.photo(:small) %>
              <h1 class="link"><%= link_to event.name, event_path(event)%></h1>
              <p><label>by</label><%= event.organization.name %></p> <!--Link_to organization profile-->
              <p class="event_desc"><%= event.description %></p>
              <br/>
              <div class="box-details">
              <label>Location: </label><p><%= event.address %></p>
              <br/>
              <p><label>Start: </label><%= event.start %></p>
              <p><label>End: </label><%= event.end %></p>
              </div>
          </div>
        </div>
    <% end %>
</div>

<script type="text/javascript">
  $('#events_container').masonry({
      itemSelector: '.box',
      columnWidth: 300
  });
</script>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' if can? :create, Event %>
