<% content_for :breadcrumb do %>
  <li><%= link_to "Home", home_index_path %> <span class="divider">/</span></li>  <li><%= link_to "Events", events_path %></li>
<% end %>

<%- model_class = Event.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<div id="events_container">
    <% @events.each do |event| %>
        <div class="box" href="#"> <!--link-to-event-page-->
          <div>
            <% if event.photo.nil? == true%>
              <%= image_tag ("events.png") %>
            <% else %>
            <%= image_tag event.photo(:small) %>
            <%end%>
              <h1 class="link"><%= link_to event.name, event_path(event)%></h1>
              <p><label>by</label><%= event.organization.name %></p> <!--Link_to organization profile-->
              <p class="event_desc"><%= truncate(event.description, length: 150 )%> <%= link_to " Read More", event_path(event)%></p>
              <br/>
          </div>
        </div>
    <% end %>
</div>

<script type="text/javascript">
  $('#events_container').masonry({
      itemSelector: '.box',
      columnWidth: 300
  });
</script>
