<% content_for :breadcrumb do %>
  <li><%= link_to "Home" %> <span class="divider">/</span></li>
  <li class="active"><%= @event.name %></li>
<% end %>

<%- model_class = @event.class -%>
<!--<h1><%=t '.title', :default => model_class.model_name.human %></h1>-->

<% unless @event.longitude.nil? || @event.latitude.nil? %>
  <div style="float:right;">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
  </div>
<% end %>

<p>
<h1>
  <%= @event.name %>
</h1>

<%= image_tag @event.photo(:medium) %>

<p>
<!--  <strong><%= model_class.human_attribute_name(:description) %>:</strong><br>-->
  <%= @event.description %>
</p>
<p>
  <b>Location:</b>
  <strong><%= model_class.human_attribute_name(:address) %>:</strong><br>
  <%= @event.address %>
</p>
<p>
  <b>This event's participants:</b>
  <% @event.users.all.each do |u| %>
  	<% unless @event.organization.name == u.name %>
      <% unless u.is_organization %>
      <li><%= u.name %></li>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <b>This event's supporters:</b>
  <% @event.users.all.each do |u| %>
    <% unless @event.organization.name == u.name %>
      <% if u.is_organization %>
        <li><%= u.name %></li>
      <% end %>
    <% end %>
  <% end %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:start) %>:</strong><br>
  <%= @event.start%>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:end) %>:</strong><br>
  <%= @event.end %>
</p>

<% if user_signed_in? %>
  <% unless @event.joined?(current_user) %>
		<%= button_to "Volunteer! :)", @event, confirm: 'Really join this?', method: :join %>
	<% else %>
		<%= button_to "Unvolunteer :(", @event, confirm: 'Do you really want to unvolunteer?', :method => :delete %>
	<% end %>
<% else %>
	<%= button_to "Volunteer! :)", @event, confirm: 'Really join this?', method: :join %>
<% end %>
<!--<%= link_to 'Edit', edit_event_path(@event) if can? :update, @event %> 
<%= link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete if can? :destroy, @event %> 
<%= link_to 'Back', events_path %>-->

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
