<p id="notice"><%= notice %></p>

<p>
  <b>Organization:</b>
  <%= @event.organization.name %>
</p>

<% unless @event.longitude.nil? || @event.latitude.nil? %>
  <div style="float:right;">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
  </div>
<% end %>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Location:</b>
  <%= @event.address %>
</p>

<p>
  <b>This event's participants:</b>
  <% @event.users.all.each do |u| %>
  	<% unless @event.organization.name == u.name %>
      <% unless u.is_organization %>
      <li><%= u.name %></li>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <b>This event's supporters:</b>
  <% @event.users.all.each do |u| %>
    <% unless @event.organization.name == u.name %>
      <% if u.is_organization %>
        <li><%= u.name %></li>
      <% end %>
    <% end %>
  <% end %>
</p>

<% if user_signed_in? %>
  <% unless @event.joined?(current_user) %>
		<%= button_to "Volunteer! :)", @event, confirm: 'Really join this?', method: :join %>
	<% else %>
		<%= button_to "Unvolunteer :(", @event, confirm: 'Do you really want to unvolunteer?', :method => :delete %>
	<% end %>
<% else %>
	<%= button_to "Volunteer! :)", @event, confirm: 'Really join this?', method: :join %>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) if can? :update, @event %> 
<%= link_to 'Destroy', @event, confirm: 'Are you sure?', method: :delete if can? :destroy, @event %> 
<%= link_to 'Back', events_path %>