
<% content_for :breadcrumb do %>
  <li><%= link_to "Home", home_index_path %> <span class="divider">/</span></li>  <li><%= link_to "Organizations", organizations_path %> <span class="divider">/</span> </li>
  <li class="active"><%= @user.name %></li>
<% end %>
    <%= render 'profile/user_profile' %>
<div class="row">
	<div id="supported-events" class="span6">
		<p>
			<strong><%= @user.name %>'s supported events:</strong>
			<% Event.all.each do |u| %>
				<% unless u.users.where(:id => @user.id).first.nil? %>
					<li><%= link_to u.name, event_path(u) %></li>
				<% end %>
			<% end %>
		</p>
	</div>
</div>
<div class="row">
	<div id="created-events" class="span6">
		<p>
			<strong><%= @user.name %>'s events:</strong>
			<% @user.events.all.each do |u| %>
				<li>
					<%= link_to u.name, event_path(u) %>
					<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(u), :class => 'btn' if can? :update, u %>
  					<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(u),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' if can? :destroy, u %>
				</li>
			<% end %>
		</p>
	</div>
</div>