<!DOCTYPE html>
<html>
<head>
  <title>Kabayanihan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container">
			<p>
			<% if current_user %>
				<%= image_tag(current_user.image, :border=>0) if current_user.image? %> Welcome <%= current_user.name %>! Not you? <%= link_to 'Sign Out', destroy_user_session_path %>
			<% else %>
				<%= link_to image_tag('facebook_64.png', :border=>0), user_omniauth_authorize_path(:facebook) %>
				<%= link_to image_tag('twitter_64.png', :border=>0), user_omniauth_authorize_path(:twitter) %>
				 or <%= link_to('Sign In', new_user_session_path) %>
			<% end %>
		</p>
	</div>
<div id="main-container" class="container">
    <% flash.each do |key, message| %>
      <div class="alert">
        <%= content_tag :a, 'x', :class => 'close', :'data-dismiss' => 'alert' %>
        <p><%= message %></p>
      </div>
    <% end %>
  </div>

<header>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Project name</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><%= link_to "Events", events_path %></li>
            <li><a href="#">Organizations</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>

          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query" placeholder="Search">
          </form>

          <ul class="nav pull-right">
            <% unless user_signed_in? %>
              <li><%= link_to "Sign In", new_user_session_url %></li>
            <% else %>
              <% if current_user.is_organization %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Events <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Create New Event", new_event_url %></a></li>
                    <li><a href="#">View My Events</li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              <% else %>
              <li><a href="#">My Events<a></li> <!-- will show user's joined events. pweds din ung bookmarked & history/viewed peo wag muna...-->
              <% end %>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit Profile", edit_user_registration_url %>
                  <li><a href="#">Account Settings</a></li>
                  <li><a href="#">Help</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
</div>
</header>

<!-- should not appear in login, home, sign up & sign in-->
<div class="container master-container">
  <ul class="breadcrumb">
    <%= yield :breadcrumb %>
  </ul>

  <%= yield %>
</div>

<footer>

</footer>
</body>
</html>
