<!DOCTYPE html>
<html>
<head>
  <title>TrippingOctoBear</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
			<p>
			<% if current_user %>
				<%= image_tag(current_user.image, :border=>0) %> Welcome <%= current_user.name %>! Not you? <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
			<% else %>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> or
<!--				<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>-->
			<% end %>
		</p>
	</div>
<%= yield %>

</body>
</html>
